/* global */

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

i{
    color: #cac3d4;
}

li {
  color: #7A7C80;
}

body{
    margin: 0;
    padding: 0;
    font-family: Raleway,sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

/* Agrega estilos para el modo claro y oscuro */
.light-mode {
    /* Cambia los colores para el modo oscuro */
    background-color: #e0e0e0;
}

.light-mode h2 {
    color: #101214;
    /* Otros estilos para h2 en modo oscuro según tu diseño */
}

.light-mode p{
    color: #282b2f;
}

.light-mode i{
    color: #282b2f;
}

.light-mode li{
    color: #282b2f;
}

.light-mode footer{
    background-color: #ababab;
}

/* Agrega transiciones para un cambio suave */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}




h2,.white{
    color: #e0e0e0;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top:20vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.2rem;
    margin: 8px;
}

.section-1 h2{
    font-size: 2rem;
    margin-bottom: 5px;
}

.section-1 a{
    font-size: 1.5rem;
    margin-top: 5vh;
    padding: 10px;
}



/* section 2 */
.section-2{
    margin-top: 10vh;
    width: 70%;
}


.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin:0;
    text-align: justify;
    text-justify: inter-word;
}

.section-2 ul{
    margin-left: 20px;
    padding: 0;
    text-justify: inter-word;
}

.section-2 a{
    font-weight: bold;
    text-decoration: underline;
}

.section-2 li {
    font-size: 1.2rem;
    padding-bottom: 12px;
    margin:0;
}

#dscord-presence{
    margin-top: 0px;
}

/* animations / utilities */
.section-2 a:hover{
    color: #d7d7da;
    cursor: pointer;
    transition: 0.2s;
}

.light-mode .section-2 a:hover{
    color: #444446;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #444446;
    cursor: pointer;
    transition: 0.3s;
}

/* styles.css */
.fade-in {
    opacity: 0; /* Empieza invisible */
    animation: fadeIn 0.6s ease-in forwards; /* Animación de fade in durante 1 segundo */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Empieza completamente transparente */
    }
    to {
      opacity: 1; /* Termina completamente visible */
    }
  }

.footer {
    background-color: #1e1f23;
    color: #7A7C80;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    font-size: 0.9rem;
}

/* Responsive adjustments for the footer */
@media (max-width: 700px) {
    .footer {
        position: static;
    }
}


/* media queres */
@media(max-width:700px){
    .grid-2{
        grid-template-columns: 1fr;
    }

    .section-1{
        padding:0;
        margin-top: 5rem;

    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        width: 88%;
    }
}
