/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

i{
    color: #cac3d4;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top:20vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 2rem;
    margin-bottom: 5px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}



/* section 2 */
.section-2{
    padding-top: 15vh;
    width: 75%;
}


.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 ul{
    margin-left: 20px;
    padding: 0;
}

.section-2 a{
    font-weight: bold;
    text-decoration: underline;
}

.section-2 li {
    font-size: 1rem;
    padding-bottom: 12px;
    margin:0;
}

/* animations / utilities */
.section-2 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* styles.css */
.fade-in {
    opacity: 0; /* Empieza invisible */
    animation: fadeIn 0.6s ease-in forwards; /* Animación de fade in durante 1 segundo */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Empieza completamente transparente */
    }
    to {
      opacity: 1; /* Termina completamente visible */
    }
  }

.footer {
    background-color: #1e1f23;
    color: #7A7C80;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    font-size: 0.9rem;
}

/* Responsive adjustments for the footer */
@media (max-width: 700px) {
    .footer {
        position: static;
    }
}


/* media queres */
@media(max-width:700px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;

    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
        width: 85%;
    }
}
