/* Starting style.css */


@media screen and (max-width: 800px) {
  .img {
    width: 100px;
  }
}

/* All-text color */


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



b {
  font-weight: 600;  
  color: #eee;
}

footer {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  background: rgb(17, 17, 17);
  box-shadow: 0px -4px 8px rgb(17, 17, 17);
  margin-top: auto;
}

/* General style web configs */

html, body {
  font-family: "Arial", sans-serif;
  background-color: rgb(32, 32, 32);
  padding: 35px 15px 30px;
  color: #444;
  height: 100%;
}

/* Title's */

h1 {
  font-weight: bold;
  color: rgb(218, 216, 216);
  font-weight: 700;
  font-size: 40px;
}

/* Sub-title's */

h2 {
  font-weight: bold;
  padding-top: 20px;
  color: rgb(218, 216, 216);
  font-weight: 700;
  font-size: 35px;
}

/* All-text configs */

p {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 100; 
  color: rgb(196, 195, 195);
  line-height: 30px;
}

@media screen and (max-widht: 1100px) {
  p {
    line-height: 5px;
  }
}


/* Links colors */

a {
  font-weight: bold;
  color: #4f73d6;
  text-decoration: none;
  transition: all 200ms;
}

a:hover, a:focus {
  color: #2b3e72;
}

/* Navigation bar */

nav {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  position: fixed;
  padding: 10px 15px;
  box-shadow: 0px 4px 8px rgb(17, 17, 17);
}

nav a {
  display: inline-block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: rgb(179, 178, 178);
}

nav a.active {
  color: #4f73d6;
}







/* Finish */
